services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: zaq1@WSX #super secret and strong password
      POSTGRES_DB: postgres
    volumes:
      - /home/mirusser/docker/volumes/postgresql:/var/lib/postgresql
    networks:
      - default
      - overlaynetwork

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - /home/mirusser/docker/volumes/mongo/data/db:/data/db
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"] # Run Mongo as a single-node replica set
    networks:
      - default
      - overlaynetwork

  elastic:
    image: elasticsearch:8.12.1
    container_name: elastic
    restart: unless-stopped
    ports:
      - '9200:9200'
      - '9300:9300'
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g # Adjust memory limits as per available resources
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
      memlock:
        soft: -1
        hard: -1
    volumes:
      - /home/mirusser/docker/volumes/elasticsearch/data:/usr/share/elasticsearch/data
    networks:
      - default
      - overlaynetwork

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    restart: unless-stopped
    ports:
      - '1435:1433'
    user: root
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=zaq1@WSX #super secret and strong password
    volumes:
      - /home/mirusser/docker/volumes/mssql/data:/var/opt/mssql
    networks:
      - default
      - overlaynetwork

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - /home/mirusser/docker/volumes/redis/data:/data
    command: redis-server --appendonly yes
    networks:
      - default
      - overlaynetwork

  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true 
    ports:
      - '5341:80'
    volumes:
      - /home/mirusser/docker/volumes/seq/data:/data
    networks:
      - default
      - overlaynetwork

  rabbitmq:
    # image: rabbitmq:management # official version
    image: heidiks/rabbitmq-delayed-message-exchange:latest # version that bundles the delayed-message-exchange plugin
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - '5672:5672'
      - '15672:15672'
    volumes:
      - /home/mirusser/docker/volumes/rabbitmq/data:/var/lib/rabbitmq
    networks:
      - default
      - overlaynetwork

  jenkins:
    image: jenkins/jenkins:latest
    container_name: jenkins
    restart: unless-stopped
    user: root
    ports:
      - '50000:50000' # Jenkins agent connector port
      - '8080:8080' # Jenkins web interface
    volumes:
      - /home/mirusser/docker/volumes/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock # For Docker command access
      - /usr/bin/docker:/usr/bin/docker # For Docker CLI access
    environment:
      JAVA_OPTS: '-Djenkins.install.runSetupWizard=false'
    networks:
      - default
      - overlaynetwork

  healthchecks:
    image: xabarilcoding/healthchecksui:latest
    container_name: healthchecks
    restart: unless-stopped
    depends_on:
      - sqlserver
    environment:
      - ui_path=/ # defult was: healthchecks-ui
      - storage_provider=SqlServer
      - 'storage_connection=Server=sqlserver;User Id=sa;Password=zaq1@WSX;Initial Catalog=DockerUI'
      - Logging:LogLevel:Default=Debug
      - Logging:LogLevel:Microsoft=Warning
      - Logging:LogLevel:HealthChecks=Debug
        # Register your Web API health endpoint:
      - 'HealthChecksUI:HealthChecks:0:Name=OAuthServer-docker'
      - 'HealthChecksUI:HealthChecks:0:Uri=http://oauthserver:80/health'
      - 'HealthChecksUI:HealthChecks:1:Name=CitiesServiceApi-docker'
      - 'HealthChecksUI:HealthChecks:1:Uri=http://citiesservice:80/health'
      - 'HealthChecksUI:HealthChecks:2:Name=WeatherService-docker'
      - 'HealthChecksUI:HealthChecks:2:Uri=http://weatherservice:80/health'
      - 'HealthChecksUI:HealthChecks:3:Name=WeatherHistoryService-docker'
      - 'HealthChecksUI:HealthChecks:3:Uri=http://weatherhistoryservice:80/health'
      - 'HealthChecksUI:HealthChecks:4:Name=CitiesGrpcService-docker'
      - 'HealthChecksUI:HealthChecks:4:Uri=http://citiesgrpcservice:80/health'
      - 'HealthChecksUI:HealthChecks:5:Name=EmailService-docker'
      - 'HealthChecksUI:HealthChecks:5:Uri=http://emailservice:80/health'
      - 'HealthChecksUI:HealthChecks:6:Name=IconService-docker'
      - 'HealthChecksUI:HealthChecks:6:Uri=http://iconservice:80/health'
      - 'HealthChecksUI:HealthChecks:7:Name=SignalRServer-docker'
      - 'HealthChecksUI:HealthChecks:7:Uri=http://signalrserver:80/health'
      - 'HealthChecksUI:HealthChecks:8:Name=HangfireService-docker'
      - 'HealthChecksUI:HealthChecks:8:Uri=http://hangfireservice:80/health'
      - 'HealthChecksUI:HealthChecks:9:Name=WeatherSite-docker'
      - 'HealthChecksUI:HealthChecks:9:Uri=http://weathersite:80/health'
      # - 'HealthChecksUI:HealthChecks:0:Name=CitiesServiceApi'
      # - 'HealthChecksUI:HealthChecks:0:Uri=http://host.docker.internal:5042/health'
    ports:
      - 5000:80
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # volumes: # use appsettings.json if you want to have move configuration out of compose and have it in external file
    #  - /home/mirusser/docker/volumes/healthchecks/data/appsettings.json:/app/appsettings.json # the file needs to be created manually before starting container
    networks:
      - default
      - overlaynetwork
  
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/mirusser/docker/volumes/portainer/data:/data
    networks:
      - default
      - overlaynetwork


networks:
  default:
    driver: bridge
  overlaynetwork:
    name: overlaynetwork
    external: true
